li{
	display:inline;
}
img {
	padding: 10px,10px,10px,10px;
	text-align: center;
    display: block;
    margin: 0 auto;
}	
body{
	background: lightpink;	
}
.center {
    text-align: center;
    border: 3px solid white;
}
nav {
	margin: auto;
	text-align: center;
}
a {
	font-weight: bold;
}

.bodyEducation {
	background: url('educationbackground.jpg');
}

